root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space

[*.{cs,csx}]
indent_size = 4
dotnet_sort_system_directives_first = true
csharp_new_line_before_open_brace = all
csharp_prefer_braces = true:suggestion
dotnet_style_readonly_field = true:suggestion
csharp_style_var_when_type_is_apparent = true:suggestion
dotnet_diagnostic.CA2007.severity = none

[*.{csproj,props,targets,json,yml,yaml}]
indent_size = 2

[*.sql]
indent_size = 4

[*.md]
trim_trailing_whitespace = false
